<?xml version="1.0"?>
<robot
  name="ustb_doggo_urdf">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="2.65529470882075" />
      <inertia
        ixx="0.00561601231998653"
        ixy="6.82580680646412E-07"
        ixz="3.81296987544646E-08"
        iyy="0.0181701862213133"
        iyz="-9.44052108733001E-08"
        izz="0.0182325120876336" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <!--box size="1 1 1"/-->
        <!--mesh
          filename="package://ustb_doggo_urdf/meshes/base_link.STL" /-->
        <mesh
          filename="file:///home/oakfox/srtp/ros2_ws/src/ustb_doggo_urdf/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/oakfox/srtp/ros2_ws/src/ustb_doggo_urdf/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Link_lff">
    <inertial>
      <origin
        xyz="0.03499962282119 3.56169768522099E-07 0.00107062595538129"
        rpy="0 0 0" />
      <mass
        value="0.0297227295562525" />
      <inertia
        ixx="2.90602254522781E-06"
        ixy="1.57688923577065E-10"
        ixz="1.78460587600233E-06"
        iyy="3.59802742711429E-05"
        iyz="-3.41745531194127E-11"
        izz="3.78491600998586E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/oakfox/srtp/ros2_ws/src/ustb_doggo_urdf/meshes/Link_lff.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/oakfox/srtp/ros2_ws/src/ustb_doggo_urdf/meshes/Link_lff.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint_lff"
    type="revolute">
    <origin
      xyz="-0.19 -0.107 0"
      rpy="1.5708 0 3.1416" />
    <parent
      link="base_link" />
    <child
      link="Link_lff" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.5"
      upper="1"
      effort="500"
      velocity="300" />
  </joint>
  <link
    name="Link_lff_1">
    <inertial>
      <origin
        xyz="0.133123962371046 -4.56626021907991E-06 -0.0110230121178958"
        rpy="0 0 0" />
      <mass
        value="0.105842321084099" />
      <inertia
        ixx="2.26046614236556E-05"
        ixy="6.18910439734662E-08"
        ixz="-2.06445588467179E-07"
        iyy="0.000161609916352236"
        iyz="-4.87043944671223E-21"
        izz="0.000167304461153556" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/oakfox/srtp/ros2_ws/src/ustb_doggo_urdf/meshes/Link_lff_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/oakfox/srtp/ros2_ws/src/ustb_doggo_urdf/meshes/Link_lff_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint_lff_1"
    type="revolute">
    <origin
      xyz="0.09 0 -0.016"
      rpy="3.1416 0 -2.5192" />
    <parent
      link="Link_lff" />
    <child
      link="Link_lff_1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2"
      upper="0.5"
      effort="500"
      velocity="300" />
  </joint>
  <link
    name="Link_Wheel_lf">
    <inertial>
      <origin
        xyz="-8.95796462853371E-06 8.95827073271738E-06 -0.000199260270533103"
        rpy="0 0 0" />
      <mass
        value="0.0504914646640277" />
      <inertia
        ixx="3.79982876676201E-05"
        ixy="-4.0578134148444E-12"
        ixz="-3.5283520549697E-09"
        iyy="3.7998287913547E-05"
        iyz="3.52839981951167E-09"
        izz="7.4569158518781E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/oakfox/srtp/ros2_ws/src/ustb_doggo_urdf/meshes/Link_Wheel_lf.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/oakfox/srtp/ros2_ws/src/ustb_doggo_urdf/meshes/Link_Wheel_lf.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint_Wheel_lf"
    type="continuous">
    <origin
      xyz="0.16 0 0.0207"
      rpy="0 0 -0.10851" />
    <parent
      link="Link_lff_1" />
    <child
      link="Link_Wheel_lf" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="Link_lfb">
    <inertial>
      <origin
        xyz="0.0349996228211899 3.56169378020061E-07 0.00107062595538129"
        rpy="0 0 0" />
      <mass
        value="0.0297227295562525" />
      <inertia
        ixx="2.90602254522781E-06"
        ixy="1.57688923549976E-10"
        ixz="1.78460587600234E-06"
        iyy="3.59802742711429E-05"
        iyz="-3.4174553121315E-11"
        izz="3.78491600998587E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/oakfox/srtp/ros2_ws/src/ustb_doggo_urdf/meshes/Link_lfb.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/oakfox/srtp/ros2_ws/src/ustb_doggo_urdf/meshes/Link_lfb.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint_lfb"
    type="revolute">
    <origin
      xyz="-0.11 -0.107 0"
      rpy="-1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="Link_lfb" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1"
      upper="2.5"
      effort="500"
      velocity="300" />
  </joint>
  <link
    name="Link_lfb_1">
    <inertial>
      <origin
        xyz="-0.0724741982972868 -0.0649347547647483 -0.00202339816036047"
        rpy="0 0 0" />
      <mass
        value="0.0636556060708701" />
      <inertia
        ixx="3.31328110865925E-05"
        ixy="-2.67282746592908E-05"
        ixz="-5.14546133679027E-20"
        iyy="3.90167021624517E-05"
        iyz="-4.62118247009887E-20"
        izz="7.2028308602733E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/oakfox/srtp/ros2_ws/src/ustb_doggo_urdf/meshes/Link_lfb_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/oakfox/srtp/ros2_ws/src/ustb_doggo_urdf/meshes/Link_lfb_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint_lfb_1"
    type="revolute">
    <origin
      xyz="0.09 0 -0.011"
      rpy="3.1416 0 0.10822" />
    <parent
      link="Link_lfb" />
    <child
      link="Link_lfb_1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.5"
      upper="2"
      effort="500"
      velocity="300" />
  </joint>

  <link
    name="Link_rff">
    <inertial>
      <origin
        xyz="0.0349996228211899 3.56169372107645E-07 0.00107062595538124"
        rpy="0 0 0" />
      <mass
        value="0.0297227295562525" />
      <inertia
        ixx="2.90602254522782E-06"
        ixy="1.57688923561342E-10"
        ixz="1.78460587600242E-06"
        iyy="3.59802742711429E-05"
        iyz="-3.41745531207639E-11"
        izz="3.78491600998586E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/oakfox/srtp/ros2_ws/src/ustb_doggo_urdf/meshes/Link_rff.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/oakfox/srtp/ros2_ws/src/ustb_doggo_urdf/meshes/Link_rff.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint_rff"
    type="revolute">
    <origin
      xyz="-0.19 0.107 0"
      rpy="-1.5708 0 3.1416" />
    <parent
      link="base_link" />
    <child
      link="Link_rff" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1"
      upper="2.5"
      effort="500"
      velocity="300" />
  </joint>
  <link
    name="Link_rff_1">
    <inertial>
      <origin
        xyz="0.0973089502316796 -1.65562008547226E-13 -0.0070233981603605"
        rpy="0 0 0" />
      <mass
        value="0.0636556060708701" />
      <inertia
        ixx="9.18506138990417E-06"
        ixy="-3.04931861011547E-20"
        ixz="1.71906601393186E-19"
        iyy="6.29644518591399E-05"
        iyz="5.78099753446853E-21"
        izz="7.20283086027331E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/oakfox/srtp/ros2_ws/src/ustb_doggo_urdf/meshes/Link_rff_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/oakfox/srtp/ros2_ws/src/ustb_doggo_urdf/meshes/Link_rff_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint_rff_1"
    type="revolute">
    <origin
      xyz="0.09 0 -0.016"
      rpy="-3.1416 0 2.5192" />
    <parent
      link="Link_rff" />
    <child
      link="Link_rff_1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.5"
      upper="2"
      effort="500"
      velocity="300" />
  </joint>

  <link
    name="Link_rfb">
    <inertial>
      <origin
        xyz="0.0349996228211899 3.5616977173624E-07 0.00107062595538134"
        rpy="0 0 0" />
      <mass
        value="0.0297227295562525" />
      <inertia
        ixx="2.90602254522781E-06"
        ixy="1.57688923704764E-10"
        ixz="1.78460587600232E-06"
        iyy="3.59802742711429E-05"
        iyz="-3.4174553119217E-11"
        izz="3.78491600998587E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/oakfox/srtp/ros2_ws/src/ustb_doggo_urdf/meshes/Link_rfb.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/oakfox/srtp/ros2_ws/src/ustb_doggo_urdf/meshes/Link_rfb.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint_rfb"
    type="revolute">
    <origin
      xyz="-0.11 0.107 0"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="Link_rfb" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.5"
      upper="1"
      effort="500"
      velocity="300" />
  </joint>
  <link
    name="Link_rfb_1">
    <inertial>
      <origin
        xyz="0.133123962371046 -4.56626021822643E-06 -0.00402301211789559"
        rpy="0 0 0" />
      <mass
        value="0.105842321084099" />
      <inertia
        ixx="2.26046614236556E-05"
        ixy="6.18910439731018E-08"
        ixz="-2.06445588467416E-07"
        iyy="0.000161609916352235"
        iyz="-9.66636271298472E-21"
        izz="0.000167304461153556" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/oakfox/srtp/ros2_ws/src/ustb_doggo_urdf/meshes/Link_rfb_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/oakfox/srtp/ros2_ws/src/ustb_doggo_urdf/meshes/Link_rfb_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint_rfb_1"
    type="revolute">
    <origin
      xyz="0.09 0 -0.009"
      rpy="-3.1416 0 -2.5192" />
    <parent
      link="Link_rfb" />
    <child
      link="Link_rfb_1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2"
      upper="0.5"
      effort="500"
      velocity="300" />
  </joint>
  <link
    name="Link_Wheel_rf">
    <inertial>
      <origin
        xyz="-8.95796462846432E-06 8.95827073274513E-06 -0.000199260270533103"
        rpy="0 0 0" />
      <mass
        value="0.0504914646640277" />
      <inertia
        ixx="3.79982876676201E-05"
        ixy="-4.05781342670286E-12"
        ixz="-3.52835205502234E-09"
        iyy="3.7998287913547E-05"
        iyz="3.52839981944852E-09"
        izz="7.45691585187809E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/oakfox/srtp/ros2_ws/src/ustb_doggo_urdf/meshes/Link_Wheel_rf.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/oakfox/srtp/ros2_ws/src/ustb_doggo_urdf/meshes/Link_Wheel_rf.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint_Wheel_rf"
    type="continuous">
    <origin
      xyz="0.16 0 0.0277"
      rpy="0 0 -0.10851" />
    <parent
      link="Link_rfb_1" />
    <child
      link="Link_Wheel_rf" />
    <axis
      xyz="0 0 1" />
  </joint>

  <link
    name="Link_lbf">
    <inertial>
      <origin
        xyz="0.0349996228211899 3.56169768638705E-07 0.00107062595538129"
        rpy="0 0 0" />
      <mass
        value="0.0297227295562525" />
      <inertia
        ixx="2.90602254522781E-06"
        ixy="1.57688923576264E-10"
        ixz="1.78460587600233E-06"
        iyy="3.59802742711429E-05"
        iyz="-3.41745531199474E-11"
        izz="3.78491600998587E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/oakfox/srtp/ros2_ws/src/ustb_doggo_urdf/meshes/Link_lbf.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/oakfox/srtp/ros2_ws/src/ustb_doggo_urdf/meshes/Link_lbf.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint_lbf"
    type="revolute">
    <origin
      xyz="0.11 -0.107 0"
      rpy="1.5708 0 3.1416" />
    <parent
      link="base_link" />
    <child
      link="Link_lbf" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.5"
      upper="1"
      effort="500"
      velocity="300" />
  </joint>
  <link
    name="Link_lbf_1">
    <inertial>
      <origin
        xyz="0.133123962371046 -4.56626021869307E-06 -0.0110230121178958"
        rpy="0 0 0" />
      <mass
        value="0.105842321084099" />
      <inertia
        ixx="2.26046614236556E-05"
        ixy="6.18910439732061E-08"
        ixz="-2.06445588467182E-07"
        iyy="0.000161609916352236"
        iyz="-7.51741740688192E-21"
        izz="0.000167304461153556" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/oakfox/srtp/ros2_ws/src/ustb_doggo_urdf/meshes/Link_lbf_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/oakfox/srtp/ros2_ws/src/ustb_doggo_urdf/meshes/Link_lbf_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint_lbf_1"
    type="revolute">
    <origin
      xyz="0.09 0 -0.016"
      rpy="3.1416 0 -2.5192" />
    <parent
      link="Link_lbf" />
    <child
      link="Link_lbf_1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2"
      upper="0.5"
      effort="500"
      velocity="300" />
  </joint>
  <link
    name="Link_Wheel_lb">
    <inertial>
      <origin
        xyz="-8.95796462851983E-06 8.95827073271738E-06 -0.000199260270533103"
        rpy="0 0 0" />
      <mass
        value="0.0504914646640278" />
      <inertia
        ixx="3.79982876676201E-05"
        ixy="-4.0578134148444E-12"
        ixz="-3.52835205496974E-09"
        iyy="3.7998287913547E-05"
        iyz="3.52839981951165E-09"
        izz="7.4569158518781E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/oakfox/srtp/ros2_ws/src/ustb_doggo_urdf/meshes/Link_Wheel_lb.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/oakfox/srtp/ros2_ws/src/ustb_doggo_urdf/meshes/Link_Wheel_lb.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint_Wheel_lb"
    type="continuous">
    <origin
      xyz="0.16 0 0.0207"
      rpy="0 0 -0.10851" />
    <parent
      link="Link_lbf_1" />
    <child
      link="Link_Wheel_lb" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>

  <link
    name="Link_lbb">
    <inertial>
      <origin
        xyz="0.03499962282119 3.56169377895019E-07 0.00107062595538129"
        rpy="0 0 0" />
      <mass
        value="0.0297227295562525" />
      <inertia
        ixx="2.90602254522781E-06"
        ixy="1.57688923553343E-10"
        ixz="1.78460587600234E-06"
        iyy="3.5980274271143E-05"
        iyz="-3.41745531210429E-11"
        izz="3.78491600998587E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/oakfox/srtp/ros2_ws/src/ustb_doggo_urdf/meshes/Link_lbb.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/oakfox/srtp/ros2_ws/src/ustb_doggo_urdf/meshes/Link_lbb.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint_lbb"
    type="revolute">
    <origin
      xyz="0.19 -0.107 0"
      rpy="-1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="Link_lbb" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1"
      upper="2.5"
      effort="500"
      velocity="300" />
  </joint>
  <link
    name="Link_lbb_1">
    <inertial>
      <origin
        xyz="0.0973089502316846 -1.59011692701938E-13 -2.33981603629946E-05"
        rpy="0 0 0" />
      <mass
        value="0.0636556060708701" />
      <inertia
        ixx="9.18506138990421E-06"
        ixy="6.7762635780344E-20"
        ixz="6.86630474096438E-20"
        iyy="6.29644518591399E-05"
        iyz="1.07613732834803E-21"
        izz="7.2028308602733E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/oakfox/srtp/ros2_ws/src/ustb_doggo_urdf/meshes/Link_lbb_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/oakfox/srtp/ros2_ws/src/ustb_doggo_urdf/meshes/Link_lbb_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint_lbb_1"
    type="revolute">
    <origin
      xyz="0.09 0 -0.009"
      rpy="3.1416 0 2.5192" />
    <parent
      link="Link_lbb" />
    <child
      link="Link_lbb_1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.5"
      upper="2"
      effort="500"
      velocity="300" />
  </joint>

  <link
    name="Link_rbf">
    <inertial>
      <origin
        xyz="0.03499962282119 3.56169381144522E-07 0.00107062595538125"
        rpy="0 0 0" />
      <mass
        value="0.0297227295562526" />
      <inertia
        ixx="2.90602254522783E-06"
        ixy="1.57688923555853E-10"
        ixz="1.78460587600241E-06"
        iyy="3.5980274271143E-05"
        iyz="-3.41745531176623E-11"
        izz="3.78491600998587E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/oakfox/srtp/ros2_ws/src/ustb_doggo_urdf/meshes/Link_rbf.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/oakfox/srtp/ros2_ws/src/ustb_doggo_urdf/meshes/Link_rbf.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint_rbf"
    type="revolute">
    <origin
      xyz="0.11 0.107 0"
      rpy="-1.5708 0 3.1416" />
    <parent
      link="base_link" />
    <child
      link="Link_rbf" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1"
      upper="2.5"
      effort="500"
      velocity="300" />
  </joint>
  <link
    name="Link_rbf_1">
    <inertial>
      <origin
        xyz="0.097308950231685 -1.58290047735932E-13 -0.00702339816036053"
        rpy="0 0 0" />
      <mass
        value="0.0636556060708701" />
      <inertia
        ixx="9.18506138990418E-06"
        ixy="1.69406589450861E-20"
        ixz="1.65818492230491E-19"
        iyy="6.29644518591399E-05"
        iyz="-4.18608730013598E-20"
        izz="7.20283086027331E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/oakfox/srtp/ros2_ws/src/ustb_doggo_urdf/meshes/Link_rbf_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/oakfox/srtp/ros2_ws/src/ustb_doggo_urdf/meshes/Link_rbf_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint_rbf_1"
    type="revolute">
    <origin
      xyz="0.09 0 -0.016"
      rpy="-3.1416 0 2.5192" />
    <parent
      link="Link_rbf" />
    <child
      link="Link_rbf_1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.5"
      upper="2"
      effort="500"
      velocity="300" />
  </joint>

  <link
    name="Link_rbb">
    <inertial>
      <origin
        xyz="0.03499962282119 3.56169762834557E-07 0.00107062595538134"
        rpy="0 0 0" />
      <mass
        value="0.0297227295562525" />
      <inertia
        ixx="2.90602254522781E-06"
        ixy="1.57688923698515E-10"
        ixz="1.78460587600232E-06"
        iyy="3.59802742711429E-05"
        iyz="-3.41745531188003E-11"
        izz="3.78491600998587E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/oakfox/srtp/ros2_ws/src/ustb_doggo_urdf/meshes/Link_rbb.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/oakfox/srtp/ros2_ws/src/ustb_doggo_urdf/meshes/Link_rbb.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint_rbb"
    type="revolute">
    <origin
      xyz="0.19 0.107 0"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="Link_rbb" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.5"
      upper="1"
      effort="500"
      velocity="300" />
  </joint>
  <link
    name="Link_rbb_1">
    <inertial>
      <origin
        xyz="0.133123962371051 -4.56626022554696E-06 -0.0110230121178956"
        rpy="0 0 0" />
      <mass
        value="0.105842321084099" />
      <inertia
        ixx="2.26046614236556E-05"
        ixy="6.18910439732966E-08"
        ixz="-2.0644558846738E-07"
        iyy="0.000161609916352235"
        iyz="-5.61648643392524E-21"
        izz="0.000167304461153556" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/oakfox/srtp/ros2_ws/src/ustb_doggo_urdf/meshes/Link_rbb_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/oakfox/srtp/ros2_ws/src/ustb_doggo_urdf/meshes/Link_rbb_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint_rbb_1"
    type="revolute">
    <origin
      xyz="0.09 0 -0.016"
      rpy="-3.1416 0 -2.5192" />
    <parent
      link="Link_rbb" />
    <child
      link="Link_rbb_1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2"
      upper="0.5"
      effort="500"
      velocity="300" />
  </joint>
  <link
    name="Link_Wheel_rb">
    <inertial>
      <origin
        xyz="-8.95796462853371E-06 8.95827073274513E-06 -0.00019926027053313"
        rpy="0 0 0" />
      <mass
        value="0.0504914646640277" />
      <inertia
        ixx="3.79982876676201E-05"
        ixy="-4.05781341823253E-12"
        ixz="-3.52835205501988E-09"
        iyy="3.7998287913547E-05"
        iyz="3.52839981945065E-09"
        izz="7.4569158518781E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/oakfox/srtp/ros2_ws/src/ustb_doggo_urdf/meshes/Link_Wheel_rb.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/oakfox/srtp/ros2_ws/src/ustb_doggo_urdf/meshes/Link_Wheel_rb.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint_Wheel_rb"
    type="continuous">
    <origin
      xyz="0.16 0 0.0207"
      rpy="0 0 -0.10851" />
    <parent
      link="Link_rbb_1" />
    <child
      link="Link_Wheel_rb" />
    <axis
      xyz="0 0 1" />
  </joint>

  <!--激光雷达-->
  <link name="laser_link">
    <inertial>
      <mass value="0.0001"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <box size="0.1 0.1 0.1"/>
      </geometry>
      <material
        name="">
        <color rgba="0.30392 0.30392 0.30392 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_laser"
    type="fixed">
    <origin
      xyz="0 0 0.1"
      rpy="0 0 -1.57079633" />
    <parent
      link="base_link" />
    <child
      link="laser_link" />
    <axis
      xyz="0 0 -1" />
  </joint>

  <!--补闭环-->
  <gazebo>
    <joint name="Joint_Wheel_lf_1" type="revolute">
      <parent>Link_lfb_1</parent>
      <child>Link_lff_1</child>

      <pose>0.16 0 0 0 0 0</pose>

      <axis>
        <xyz>0 0 1</xyz>
        <limit>
          <lower>-1e16</lower>
          <upper> 1e16</upper>
        </limit>
      </axis>
    </joint>
    <joint name="Joint_Wheel_rf_1" type="revolute">
      <parent>Link_rff_1</parent>
      <child>Link_rfb_1</child>

      <pose>0.16 0 0 0 0 0</pose>

      <axis>
        <xyz>0 0 1</xyz>
        <limit>
          <lower>-1e16</lower>
          <upper> 1e16</upper>
        </limit>
      </axis>
    </joint>
    <joint name="Joint_Wheel_lb_1" type="revolute">
      <parent>Link_lbb_1</parent>
      <child>Link_lbf_1</child>

      <pose>0.16 0 0 0 0 0</pose>

      <axis>
        <xyz>0 0 1</xyz>
        <limit>
          <lower>-1e16</lower>
          <upper> 1e16</upper>
        </limit>
      </axis>
    </joint>
    <joint name="Joint_Wheel_rb_1" type="revolute">
      <parent>Link_rbf_1</parent>
      <child>Link_rbb_1</child>

      <pose>0.16 0 0 0 0 0</pose>

      <axis>
        <xyz>0 0 1</xyz>
        <limit>
          <lower>-1e16</lower>
          <upper> 1e16</upper>
        </limit>
      </axis>
    </joint>
  </gazebo>
  
  <!--激光雷达配置-->
  <gazebo reference="laser_link">
    <sensor type="ray" name="stl27l_lidar">
      <pose>0 0 0 0 0 0</pose>
      <update_rate>10</update_rate>  <!-- STL27L 扫描频率 (Hz) -->
      <always_on>true</always_on>     <!-- 永远启用激光雷达 -->
      <visualize>false</visualize> <!-- Gazebo显示激光图层 -->
      <ray>
        <scan>
          <horizontal>
            <samples>2160</samples>  <!-- STL27L 激光点数 -->
            <resolution>1</resolution>
            <min_angle>-3.1416</min_angle>  <!-- -180° -->
            <max_angle>3.1416</max_angle>  <!-- +180° -->
          </horizontal>
        </scan>
        <range>
          <min>0.05</min>  <!-- STL27L 最小测距 -->
          <max>12.0</max>  <!-- STL27L 最大测距 30m -->
          <resolution>0.015</resolution>  <!-- 分辨率 -->
        </range>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.005</stddev>  <!-- STL27L 误差标准差 -->
        </noise>
      </ray>
      <plugin name="gazebo_ros_laser" filename="libgazebo_ros_ray_sensor.so">
        <ros>
          <namespace>/</namespace>
          <remapping>~/out:=/scan</remapping> <!-- 指定话题名 -->
        </ros>
        <output_type>sensor_msgs/LaserScan</output_type>
        <frame_name>laser_link</frame_name> <!-- 指定参考坐标系 -->
      </plugin>
    </sensor>
  </gazebo>

  <gazebo>
    <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
      <parameters>/home/oakfox/srtp/ros2_ws/src/ustb_doggo_urdf/config/controllers.yaml</parameters>
    </plugin>
    <plugin name="p3d_base" filename="libgazebo_ros_p3d.so">
      <body_name>base_link</body_name>
      <topicName>odom</topicName>
      <frame_name>odom</frame_name>
      <xyzOffset>0 0 0</xyzOffset>
      <updateRate>100</updateRate>
    </plugin>
  </gazebo>
  
  <!--接控制层-->
  <ros2_control name="GazeboSystem" type="system">
    <hardware>
      <plugin>gazebo_ros2_control/GazeboSystem</plugin>
    </hardware>

    <!--四条腿主动关节-->
    <joint name="Joint_lff">
      <command_interface name="effort"/>
      <state_interface name="velocity"/>
      <state_interface name="position"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="Joint_lfb">
      <command_interface name="effort"/>
      <state_interface name="velocity"/>
      <state_interface name="position"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="Joint_lbf">
      <command_interface name="effort"/>
      <state_interface name="velocity"/>
      <state_interface name="position"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="Joint_lbb">
      <command_interface name="effort"/>
      <state_interface name="velocity"/>
      <state_interface name="position"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="Joint_rff">
      <command_interface name="effort"/>
      <state_interface name="velocity"/>
      <state_interface name="position"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="Joint_rfb">
      <command_interface name="effort"/>
      <state_interface name="velocity"/>
      <state_interface name="position"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="Joint_rbf">
      <command_interface name="effort"/>
      <state_interface name="velocity"/>
      <state_interface name="position"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="Joint_rbb">
      <command_interface name="effort"/>
      <state_interface name="velocity"/>
      <state_interface name="position"/>
      <state_interface name="effort"/>
    </joint>

    <!--四条腿被动关节-->
    <joint name="Joint_lff_1">
      <state_interface name="velocity"/>
      <state_interface name="position"/>
    </joint>
    <joint name="Joint_lfb_1">
      <state_interface name="velocity"/>
      <state_interface name="position"/>
    </joint>
    <joint name="Joint_lbf_1">
      <state_interface name="velocity"/>
      <state_interface name="position"/>
    </joint>
    <joint name="Joint_lbb_1">
      <state_interface name="velocity"/>
      <state_interface name="position"/>
    </joint>
    <joint name="Joint_rff_1">
      <state_interface name="velocity"/>
      <state_interface name="position"/>
    </joint>
    <joint name="Joint_rfb_1">
      <state_interface name="velocity"/>
      <state_interface name="position"/>
    </joint>
    <joint name="Joint_rbf_1">
      <state_interface name="velocity"/>
      <state_interface name="position"/>
    </joint>
    <joint name="Joint_rbb_1">
      <state_interface name="velocity"/>
      <state_interface name="position"/>
    </joint>

    <!--四个轮-->
    <joint name="Joint_Wheel_lf">
      <command_interface name="velocity"/>
      <state_interface name="effort"/>
      <state_interface name="velocity"/>
      <state_interface name="position"/>
    </joint>
    <joint name="Joint_Wheel_lb">
      <command_interface name="velocity"/>
      <state_interface name="effort"/>
      <state_interface name="velocity"/>
      <state_interface name="position"/>
    </joint>
    <joint name="Joint_Wheel_rf">
      <command_interface name="velocity"/>
      <state_interface name="effort"/>
      <state_interface name="velocity"/>
      <state_interface name="position"/>
    </joint>
    <joint name="Joint_Wheel_rb">
      <command_interface name="velocity"/>
      <state_interface name="effort"/>
      <state_interface name="velocity"/>
      <state_interface name="position"/>
    </joint>
  </ros2_control>

</robot>